@media screen and (max-width:768px) {
    header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        div {
            display: flex;
            h1 {
                font-size: 4.0rem;
                color: #555555;
            }
            ul {
                display: none;
            }
        }
        ul {
            display: none;
        }
        div.hamburger-menu {
            display: block;
            #menu-btn-check {
                display: none;
            }
            #menu-btn-check:checked ~ .menu-content {
                left: 50%;
            }
            .menu-btn {
                position: relative;
                top: 0px;
                right: 0px;
                display: flex;
                height: 40px;
                width: 40px;
                justify-content: center;
                align-items: center;
                z-index: 120;
                background: #54B9D8;
                span,span::before,span::after{
                    content: '';
                    display: block;
                    height: 3px;
                    width: 25px;
                    border-radius: 3px;
                    background-color:#fff;
                    position: absolute;
                }
                span::before{
                    bottom: 8px;
                }
                span::after{
                    top: 8px;
                }
            }
            #menu-btn-check:checked ~ .menu-btn span {
                background-color: rgba(255, 255, 255, 0);
            }
            #menu-btn-check:checked ~ .menu-btn span::before {
                bottom: 0;
                transform: rotate(45deg);
                background-color:#fff;
            }
            #menu-btn-check:checked ~ .menu-btn span::after {
                top: 0;
                transform: rotate(-45deg);
                background-color:#fff;
            }
            .menu-content {
                width: 50%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 100%;
                z-index: 110;
                background-color: #54B9D8;
                transition: all 0.5s;
                display: block;
                ul{
                    display: block;
                    padding: 70px 0 0 0;
                    li{
                        border-bottom: solid 1px #ffffff;
                        a{
                            display: block;
                            width: 100%;
                            font-size: 1.5rem;
                            box-sizing: border-box;
                            color:#ffffff;
                            text-decoration: none;
                            position: relative;
                            padding:20px;
                            &::before{
                                font-family: "Font Awesome 5 Free";
                                content: '\f054';
                                font-weight: 900;
                                position: absolute;
                                top:20px;
                                right:20px;
                            }
                        }
                    }
                }
            }
        }
    }
    div.kv {
        display: block;
        margin-bottom: 30px;
        div:nth-child(1){
            width: 100vw;
            position: relative;
            font-family: ta-koigokoro, sans-serif;
            writing-mode: vertical-rl;
            font-size: 1.8rem;
            img {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
            p{
                position: absolute;
                top: 10px;
                right: 10px;
                letter-spacing: 0.3em;
                display: block;
                padding: 10px 5px;
                background-color: #fff;
            }
            span{
                position: absolute;
                background-color: #fff;
                display: block;
                padding: 10px 5px;
                top: 30px;
                right: 50px;
                letter-spacing: 0.3em;
            }
        }
        div:nth-child(2) {
            padding: 0 20px;
            p:nth-child(1),p:nth-child(2){
                font-weight: bold;
                font-size: 2.0rem;
                span{
                    font-size: 9rem;
                }
            }
            p:nth-child(1){
                margin-bottom: 20px;
            }
            p:nth-child(2){
                margin-bottom: 20px;
            }
            p:nth-child(3){
                font-weight: bold;
                font-size: 2.5rem;
                margin-bottom: 10px;
            }
            p:nth-child(4){
                font-size: 1.5rem;
                margin-bottom: 20px;
            }
            p:nth-child(5){
                font-size: 1.5rem;
                text-align: left;
                margin-bottom:20px ;
                line-height: 1.7;
            }
            a {
                display: inline-block;
                font-weight: bold;
                font-size: 2.0rem;
                border-radius: 10px;
                text-align: center;
                padding: 10px 20px;
                display: block;
            }
            a:nth-child(6){
                background-color: #54B9D8;
                border: 2px solid #54B9D8;
                color: #fff;
                margin-bottom: 20px;
                -webkit-transition: all .3s;
                transition: all 1s;
            }
            a:nth-child(7){
                color: #54B9D8;
                border: 2px solid #54B9D8;
                -webkit-transition: all .3s;
                transition: all 1s;
            }
        }
    }
    h2{
        font-size: 2rem;
        font-weight: bold;
        text-align: left;
        padding-left: 20px;
        position: relative;
        color: #54B9D8;
        z-index: 100;
        margin-bottom: 30px;
        &::after{
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: 10px;
            margin: auto;
            z-index: -1;
            width: 50px;
            height: 50px;
            background-color: #D1EEF7;
            display: block;
        }
    }
    section.doner {
        background-color: #EAFAFF;
        padding: 50px 0 0;
        div:nth-child(2){
            .slide-arrow{
                padding: 0 5px;
                font-size: 2.0rem;
                
            }
            ul:nth-child(1) {
                margin-bottom: 30px;
                padding: 0;
                display: flex;
                li {
                    display: flex;
                    flex-direction: row-reverse;
                    margin: 0 1px;
                    div.d_info {
                        height: auto;
                        background-color: #fff;
                        border-radius: 0 10px 10px 0;
                        padding: 20px 6px 20px 6px;
                        display: flex;
                        flex-direction: column;
                        h3 {
                            font-weight: bold;
                            font-size: 2.0rem;
                            margin-bottom: 10px;
                            span {
                                font-size: 1.5rem;
                                font-weight: bold;
                            }
                        }
                        p.d_info_spec{
                            font-size: 1.5rem;
                            margin-bottom: 10px;
                        }
                        div.d_info_blue {
                            height: 30px;
                            color: #fff;
                            margin-bottom: 5px;
                            p {
                                display:inline-block;
                                padding: 5px 12px 4px 12px;
                                background-color: #fff;
                                color:#54B9D8 ;
                                border: 2px solid #54B9D8;
                            }
                            span{
                                height: 30px;
                                background-color: #54B9D8;
                                font-size: 2.0rem;
                                display:inline-block;
                                vertical-align: top;
                                padding: 5px;
                                line-height: 1;
                                text-align: center;
                            }
                        }
                        div:nth-child(4){
                            margin-bottom: 10px;
                            span{
                                padding: 5px 8px 8px;
                            }
                        }
                        a {
                            padding: 5px 0;
                            display: block;
                            background-color: #F7BF26;
                            color: #fff;
                            border-radius: 5px;
                            text-align: center;
                            font-size: 1.5rem;
                            font-weight: bold;
                            border: 1px solid #F7BF26;
                            -webkit-transition: all .3s;
                            transition: all 1s;
                            &:hover{
                                background-color: #fff;
                                color: #F7BF26;
                            }
                        }
                        p:nth-child(6){
                            text-align: right;
                            color: #BABABA;
                            font-size: 1.2rem;
                            margin-bottom:0 ;
                            margin-top: auto;
                            
                        }
                    }   
                    img {
                        width: 50%;
                        height: auto;
                    }
                }
            }
            ul.d_footer {
                background-color: #54B9D8;
                padding: 30px 20px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-column-gap: 15px;
                grid-row-gap: 10px;
                p {
                    line-height: 1.5;
                    grid-area: 1 / 1 / 2 / 3;
                    display: block;
                    width: 100%;
                    font-weight: bold;
                    font-size: 1.5rem;
                    color: #fff;
                    span {
                        font-size: 2.0rem;
                        display: block;
                    }
                }
                li {
                    a {
                        width: 100%;
                        text-align: center;
                        display: inline-block;
                        background-color: #fff;
                        border-radius:200px ;
                        padding: 20px 0;
                        -webkit-transition: all .3s;
                        transition: all 1s;
                    }
                }
            }
        }
    }
    section.blog {
        padding: 30px 0;
        margin-bottom: 30px;
        p:nth-child(2){
            text-align: left;
            font-size: 1.5rem;
            margin-bottom: 70px;
            padding: 0 20px;
            line-height: 1.5;
        }
        div.tabs {
            padding: 0px 20px;
            margin: 0 auto;
            position: relative;
            input {
                display: none;
            }
            .tab_item {
                font-size: 1.5rem;
                font-weight: bold;
                display: flex;
                padding: 10px 20px;
                border-radius: 10px;
                text-align: center;
                margin-bottom: 20px;
            }
            .tab_doner_m{
                background-color:#94E2F0 ;
                color: #478D9A;
                position: absolute;
                bottom: 100%;
                content: "";
                left: 50%;
                margin-left: 10px;
            }
            .tab_doner_w{
                background-color:#F094B7 ;
                color: #A84068;
                position: absolute;
                bottom: 100%;
                content: "";
                right: 50%;
                margin-right: 10px;
            }
            #doner_w:checked ~ #doner_w_content,
            #doner_m:checked ~ #doner_m_content {
                display: block;
            }
            
            .tab_content {
                display: none;
                background-color: #FFF7FA;
                border: 3px solid #F094B7;
                border-radius: 10px;
                padding:20px 10px;
                ul {
                    display: block;                    
                    li {
                        img {
                            margin-bottom: 15px;
                            width: 100%;
                        }
                        time {
                            text-align: left;
                            font-size: 1.5rem;
                            font-weight: bold;
                            margin-bottom: 10px;
                            display: inline-block;
                        }
                        h3 {
                            color: #A84068;
                            font-size: 2.0rem;
                            font-weight: bold;
                            line-height: 1.5;
                            margin-bottom: 20px;
                        }
                        p {
                            font-size: 1.5rem;
                            line-height: 2.0;
                            text-align: left;
                            margin-bottom: 20px;
                        }
                        
                    }
                }
                ul:nth-child(2){
                    li{
                        display: block;
                        a.blog_btn{
                            display: block;
                            background-color: #fff;
                            border-radius: 10px;
                            border: 2px solid #F094B7;
                            text-align: center;
                            color: #F094B7;
                            font-size: 1.5rem;
                            font-weight: bold;
                            padding: 10px;
                            -webkit-transition: all .3s;
                            transition: all 1s;
                            margin-bottom: 10px;
                            &:hover{
                                background-color: #F094B7;
                                color: #fff;
                            }
                        }
                        a.btn2{
                            color: #fff;
                            background-color: #F094B7;
                            -webkit-transition: all .3s;
                            transition: all 1s;
                            &:hover{
                                background-color: #fff;
                                color: #F094B7;
                            }
                        }
                    }
                }
                
                
            }
            
            div#doner_m_content.tab_content {
                background-color: #D1EEF7;
                border: 3px solid #94E2F0 ;
                ul {
                    
                    li {
                        h3 {
                            color: #478D9A;
                        }
                    }
                }
                ul{
                    li{
                        a.blog_btn{
                            border: 2px solid #54B9D8;
                            color: #54B9D8;
                            &:hover{
                                background-color: #54B9D8;
                                color: #fff;
                            }
                        }
                        a.btn2{
                            background-color: #54B9D8;
                            color: #fff;
                            &:hover{
                                background-color: #fff;
                                color: #54B9D8;
                            }
                        }
                    }
                }
            }
            
        }
        
    }
    section.about {
        margin-bottom: 30px;
        h2{
            margin-bottom: 30px;
        }
        p:nth-child(2) {
            line-height: 1.5;
            text-align: left;
            font-size: 1.5rem;
            margin-bottom: 30px;
            padding: 0 20px;
        }
        ul {
            li {
                position: relative;
                padding: 0 20px;
                margin-bottom: 20px;
                div{
                    overflow:hidden;
                    background-color: #000000;
                    border-radius: 10px;
                    transition:1s all;
                    p{
                        align-items: center;
                        z-index: 100;
                        position: absolute;
                        content: "";
                        color: #fff;
                        font-size: 2rem;
                        font-weight: bold;
                        top: 50%;
                        right: 40px;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                    }
                    div{
                        img{
                            width: 100%;
                            display: inline-block;
                            border-radius: 10px;
                            opacity: 0.6;
                            
                        }
                    }
                    
                }
            }
        }
    }
    section.reason {
        margin-bottom: 30px;
        h2 {
            margin-bottom: 70px;
        }
        ul {
            padding: 0 20px;
            li {
                display: inline-block;
                margin: 0 auto 50px;
                border-radius: 10px;
                box-shadow: 0 3px 6px 0 rgba(0,0,0, 0.16);
                padding:20px;
                background-color: #fff;
                position: relative;
                &::after{
                    position: absolute;
                    z-index: -1;
                    content: "";
                    display: block;
                    width: 90vw;
                    height: 150px;
                    background-color: #D1EEF7;
                }
                h3{
                    text-align: left;
                    display: block;
                    color: #54B9D8;
                    span {
                        font-size: 5rem;
                        font-weight: bold;
                        margin-left: 10px;
                    }
                }
                div{
                    width: 100%;
                    h4 {
                        margin-top: 20px;
                        margin-bottom: 15px;
                        font-size: 2.5rem;
                        font-weight: bold;
                        color: #54B9D8;
                        transition:1s all;
                        &:hover{
                            color: #F7BF26;
                            transition:1s all;
                        }
                    }
                    p {
                        line-height: 2.0;
                    }
                }
                
            }
            li:nth-child(1){
                &::after{
                    top: -46px;
                    left: -50px;
                    border-radius: 0 10px 10px 0;
                }
            }
            li:nth-child(2){
                &::after{
                    top: -30px;
                    right: -20px;
                    border-radius: 10px 0px 0px 10px;
                }
            }
            li:nth-child(3){
                &::after{
                    bottom: -48px;
                    left: -50px;
                    border-radius: 0 10px 10px 0;
                }
            }
        }
    }
    section.review {
        background-color: #FFF7FA;
        padding-top: 50px;
        h2 {
            margin-bottom: 30px;
            color: #F094B7;
            &::after{
                background-color: #FDE8F1;
            }
        }
        ul{
            display: flex;
            padding:20px;
            li {
                border-radius: 10px;
                background-color: #fff;
                padding: 10px;
                div {
                    display: inline;
                    font-size: 2rem;
                    font-weight: bold;
                    line-height: 30px;
                }
                p.cat {
                    padding: 5px 8px;
                    display: inline-block;
                    border-radius: 10px;
                    margin-left: 20px;
                    text-align: center;
                }
                p:nth-child(3) {
                    margin-top: 20px;
                    line-height: 2.0;
                }
            }
        }
        ul.review_doner_blc{
            li{
                border: 2px solid #54B9D8;
                p.cat {
                    background-color: #94E2F0;
                }
            }
        }
        ul.review_donnie_blc{
            li{
                border: 2px solid #F094B7;
                p.cat {
                    background-color: #F094B7;
                }
            }
        }
    }
    footer {
        background-color: #54B9D8;
        color: #fff;
        padding-top: 30px;
        div {
            text-align: center;
            font-size: 4.7rem;
            margin-bottom: 20px;
        }
        ul {
            li {
                padding: 20px;
                border-bottom: 2px solid #fff;
                a {
                    font-size: 1.5rem;
                }
            }
        }
        p {
            text-align: center;
            padding:10px;
        }
    }
}
