@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.5em;
  color: #555555;
  margin: 0 auto;
}

/*120min*/
.color_blue {
  color: #54B9D8;
}

@media screen and (min-width: 769px) {
  header {
    padding: 0 50px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header div h1 {
    font-size: 4.7rem;
    color: #555555;
    line-height: 100px;
    margin-right: 20px;
  }
  header div ul a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header div ul a i.fab.fa-facebook-square {
    margin-right: 12px;
    color: #445BA7;
    font-size: 1.5em;
  }
  header div ul a i.fab.fa-twitter {
    color: #69BBD5;
    font-size: 1.2em;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
  }
  header ul li:nth-child(1) a, header ul li:nth-child(2) a {
    color: #54B9D8;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    border: 2px solid #54B9D8;
    text-align: center;
    -webkit-transition: all .3s;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  header ul li:nth-child(1) a:hover, header ul li:nth-child(2) a:hover {
    background-color: #54B9D8;
    color: #fff;
  }
  header ul li:last-child a {
    color: #fff;
    font-size: 2.0rem;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    background-color: #F7BF26;
    text-align: center;
    padding: 6px 20px;
    -webkit-transition: all .3s;
    -webkit-transition: all 1s;
    transition: all 1s;
    border: 2px solid #F7BF26;
  }
  header ul li:last-child a:hover {
    background-color: #fff;
    color: #F7BF26;
    border: 2px solid #F7BF26;
  }
  header div.hamburger-menu {
    display: none;
  }
  div.kv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 50px;
  }
  div.kv div:nth-child(1) {
    width: 70vw;
    position: relative;
    font-family: ta-koigokoro, sans-serif;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    font-size: 3.5rem;
    letter-spacing: 0.7em;
  }
  div.kv div:nth-child(1) img {
    width: 70vw;
    border-radius: 30px 0px 0px 30px;
  }
  div.kv div:nth-child(1) p {
    position: absolute;
    top: 30px;
    right: 70px;
    letter-spacing: 0.7em;
    display: block;
    padding: 40px 20px;
    background-color: #fff;
  }
  div.kv div:nth-child(1) span {
    position: absolute;
    background-color: #fff;
    display: block;
    padding: 40px 20px;
    top: 60px;
    right: 180px;
  }
  div.kv div:nth-child(2) {
    padding: 0 10px 0 50px;
    width: 30vw;
  }
  div.kv div:nth-child(2) p:nth-child(1), div.kv div:nth-child(2) p:nth-child(2) {
    font-weight: bold;
    font-size: 2.0rem;
  }
  div.kv div:nth-child(2) p:nth-child(1) span, div.kv div:nth-child(2) p:nth-child(2) span {
    font-size: 9.3rem;
  }
  div.kv div:nth-child(2) p:nth-child(1) {
    margin-bottom: 20px;
  }
  div.kv div:nth-child(2) p:nth-child(2) {
    margin-bottom: 26px;
  }
  div.kv div:nth-child(2) p:nth-child(3), div.kv div:nth-child(2) p:nth-child(4) {
    text-align: center;
  }
  div.kv div:nth-child(2) p:nth-child(3) {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 14px;
  }
  div.kv div:nth-child(2) p:nth-child(4) {
    font-size: 1.5rem;
    margin-bottom: 26px;
  }
  div.kv div:nth-child(2) p:nth-child(5) {
    font-size: 1.5rem;
    text-align: left;
    margin: 0 20px 25px;
    line-height: 1.7;
  }
  div.kv div:nth-child(2) a {
    display: inline-block;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
    display: block;
    margin: 0 20px;
  }
  div.kv div:nth-child(2) a:nth-child(6) {
    background-color: #54B9D8;
    border: 2px solid #54B9D8;
    color: #fff;
    margin-bottom: 20px;
    -webkit-transition: all .3s;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  div.kv div:nth-child(2) a:nth-child(6):hover {
    background-color: #fff;
    color: #54B9D8;
  }
  div.kv div:nth-child(2) a:nth-child(7) {
    color: #54B9D8;
    border: 2px solid #54B9D8;
    -webkit-transition: all .3s;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  div.kv div:nth-child(2) a:nth-child(7):hover {
    background-color: #54B9D8;
    color: #fff;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: #54B9D8;
    z-index: 100;
    margin-bottom: 50px;
  }
  h2::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    width: 50px;
    height: 50px;
    background-color: #D1EEF7;
    display: block;
  }
  section.doner {
    background-color: #EAFAFF;
    padding: 50px 0;
  }
  section.doner div:nth-child(2) .slide-arrow {
    padding: 0 10px;
    font-size: 2.0rem;
  }
  section.doner div:nth-child(2) ul:nth-child(1) {
    margin-bottom: 50px;
    padding: 0 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.doner div:nth-child(2) ul:nth-child(1) li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 0 20px;
  }
  section.doner div:nth-child(2) ul:nth-child(1) li div.d_info {
    width: 50%;
    height: auto;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    padding: 20px 15px 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.doner div:nth-child(2) ul:nth-child(1) li div.d_info h3 {
    font-weight: bold;
    font-size: 2.0rem;
    margin-bottom: 10px;
  }
  section.doner div:nth-child(2) ul:nth-child(1) li div.d_info h3 span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  section.doner div:nth-child(2) ul:nth-child(1) li div.d_info p.d_info_spec {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  section.doner div:nth-child(2) ul:nth-child(1) li div.d_info div.d_info_blue {
    height: 30px;
    color: #fff;
    margin-bottom: 5px;
  }
  section.doner div:nth-child(2) ul:nth-child(1) li div.d_info div.d_info_blue p {
    display: inline-block;
    padding: 5px 12px 4px 12px;
    background-color: #fff;
    color: #54B9D8;
    border: 2px solid #54B9D8;
  }
  section.doner div:nth-child(2) ul:nth-child(1) li div.d_info div.d_info_blue span {
    height: 30px;
    background-color: #54B9D8;
    font-size: 2.0rem;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    line-height: 1;
    text-align: center;
  }
  section.doner div:nth-child(2) ul:nth-child(1) li div.d_info div:nth-child(4) {
    margin-bottom: 10px;
  }
  section.doner div:nth-child(2) ul:nth-child(1) li div.d_info div:nth-child(4) span {
    padding: 5px 8px 8px;
  }
  section.doner div:nth-child(2) ul:nth-child(1) li div.d_info a {
    padding: 5px 0;
    display: block;
    background-color: #F7BF26;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #F7BF26;
    -webkit-transition: all .3s;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  section.doner div:nth-child(2) ul:nth-child(1) li div.d_info a:hover {
    background-color: #fff;
    color: #F7BF26;
  }
  section.doner div:nth-child(2) ul:nth-child(1) li div.d_info p:nth-child(6) {
    text-align: right;
    color: #BABABA;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: auto;
  }
  section.doner div:nth-child(2) ul:nth-child(1) li img {
    width: 50%;
    height: auto;
  }
  section.doner div:nth-child(2) ul.d_footer {
    height: 80px;
    background-color: #54B9D8;
    padding: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.doner div:nth-child(2) ul.d_footer p {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
  }
  section.doner div:nth-child(2) ul.d_footer p span {
    font-size: 2.0rem;
    display: block;
  }
  section.doner div:nth-child(2) ul.d_footer li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 10vw;
  }
  section.doner div:nth-child(2) ul.d_footer li a {
    text-align: center;
    display: inline-block;
    background-color: #fff;
    border-radius: 200px;
    padding: 20px 0;
    -webkit-transition: all .3s;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  section.doner div:nth-child(2) ul.d_footer li a:hover {
    background-color: #fff;
    color: #F7BF26;
  }
  section.blog {
    padding: 100px 0;
  }
  section.blog p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 110px;
    line-height: 1.5;
  }
  section.blog div.tabs {
    padding: 0px 50px;
    margin: 0 auto;
    position: relative;
  }
  section.blog div.tabs input {
    display: none;
  }
  section.blog div.tabs .tab_item {
    font-size: 1.5rem;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 70px;
    border-radius: 10px 10px 0 0;
    text-align: center;
  }
  section.blog div.tabs .tab_doner_m {
    background-color: #94E2F0;
    color: #478D9A;
    margin-left: 50px;
    position: absolute;
    bottom: 100%;
    content: "";
    left: 50%;
  }
  section.blog div.tabs .tab_doner_w {
    background-color: #F094B7;
    color: #A84068;
    margin-right: 50px;
    position: absolute;
    bottom: 100%;
    content: "";
    right: 50%;
  }
  section.blog div.tabs .tab_item:hover {
    opacity: 0.75;
  }
  section.blog div.tabs #doner_w:checked ~ #doner_w_content,
  section.blog div.tabs #doner_m:checked ~ #doner_m_content {
    display: block;
  }
  section.blog div.tabs .tab_content {
    display: none;
    background-color: #FFF7FA;
    border: 3px solid #F094B7;
    border-radius: 10px;
    padding: 50px;
  }
  section.blog div.tabs .tab_content ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  section.blog div.tabs .tab_content ul li img {
    margin-bottom: 15px;
    width: 100%;
  }
  section.blog div.tabs .tab_content ul li time {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
  }
  section.blog div.tabs .tab_content ul li h3 {
    color: #A84068;
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  section.blog div.tabs .tab_content ul li p {
    font-size: 1.5rem;
    line-height: 2.0;
    text-align: left;
    margin-bottom: 55px;
  }
  section.blog div.tabs .tab_content ul li a.blog_btn {
    width: 20vw;
    margin-right: 0;
    text-align: right;
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #F094B7;
    text-align: center;
    color: #F094B7;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px;
    -webkit-transition: all .3s;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  section.blog div.tabs .tab_content ul li a.blog_btn:hover {
    background-color: #F094B7;
    color: #fff;
  }
  section.blog div.tabs .tab_content ul li a.btn2 {
    color: #fff;
    background-color: #F094B7;
    margin: 0 auto 0 0;
    padding: 20px;
    -webkit-transition: all .3s;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  section.blog div.tabs .tab_content ul li a.btn2:hover {
    background-color: #fff;
    color: #F094B7;
  }
  section.blog div.tabs .tab_content ul li.blog-right {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  section.blog div.tabs div#doner_m_content.tab_content {
    background-color: #D1EEF7;
    border: 3px solid #94E2F0;
  }
  section.blog div.tabs div#doner_m_content.tab_content ul li h3 {
    color: #478D9A;
  }
  section.blog div.tabs div#doner_m_content.tab_content ul li a.blog_btn {
    border: 2px solid #54B9D8;
    color: #54B9D8;
  }
  section.blog div.tabs div#doner_m_content.tab_content ul li a.blog_btn:hover {
    background-color: #54B9D8;
    color: #fff;
  }
  section.blog div.tabs div#doner_m_content.tab_content ul li a.btn2 {
    background-color: #54B9D8;
    color: #fff;
  }
  section.blog div.tabs div#doner_m_content.tab_content ul li a.btn2:hover {
    background-color: #fff;
    color: #54B9D8;
  }
  section.about {
    margin-bottom: 110px;
  }
  section.about h2 {
    margin-bottom: 60px;
  }
  section.about p:nth-child(2) {
    line-height: 1.5;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 50px;
  }
  section.about ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px;
  }
  section.about ul li {
    position: relative;
    padding: 0 25px;
  }
  section.about ul li div {
    overflow: hidden;
    background-color: #000000;
    border-radius: 10px;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  section.about ul li div p {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 100;
    position: absolute;
    content: "";
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  section.about ul li div div:hover {
    -webkit-transition: 1s all;
    transition: 1s all;
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  section.about ul li div div img {
    width: 100%;
    display: inline-block;
    border-radius: 10px;
    opacity: 0.6;
  }
  section.reason {
    margin-bottom: 150px;
  }
  section.reason h2 {
    margin-bottom: 50px;
  }
  section.reason ul {
    padding: 0 50px;
  }
  section.reason ul li {
    display: inline-block;
    margin: 0 auto 50px;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    background-color: #fff;
    position: relative;
  }
  section.reason ul li::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    width: 360px;
    height: 150px;
    background-color: #D1EEF7;
  }
  section.reason ul li h3 {
    text-align: center;
    line-height: 180px;
    width: 210px;
    height: 180px;
    display: block;
    border: 1px solid #54B9D8;
    color: #54B9D8;
  }
  section.reason ul li h3 span {
    font-size: 5rem;
    font-weight: bold;
    margin-left: 10px;
  }
  section.reason ul li div {
    width: 100%;
    padding-left: 30px;
  }
  section.reason ul li div h4 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #54B9D8;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  section.reason ul li div h4:hover {
    color: #F7BF26;
    -webkit-transition: 1s all;
    transition: 1s all;
  }
  section.reason ul li div p {
    line-height: 2.0;
  }
  section.reason ul li:nth-child(1)::after {
    top: -46px;
    left: -50px;
    border-radius: 0 10px 10px 0;
  }
  section.reason ul li:nth-child(2)::after {
    top: -30px;
    right: -50px;
    border-radius: 10px 0px 0px 10px;
  }
  section.reason ul li:nth-child(3)::after {
    bottom: -48px;
    left: -50px;
    border-radius: 0 10px 10px 0;
  }
  section.review {
    background-color: #FFF7FA;
    padding: 60px 50px 10px 50px;
  }
  section.review h2 {
    margin-bottom: 52px;
    color: #F094B7;
  }
  section.review h2::after {
    background-color: #FDE8F1;
  }
  section.review ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    margin-bottom: 50px;
  }
  section.review ul li {
    border-radius: 10px;
    background-color: #fff;
    padding: 30px 25px 35px 35px;
  }
  section.review ul li div {
    display: inline;
    font-size: 2rem;
    font-weight: bold;
    line-height: 30px;
  }
  section.review ul li p.cat {
    padding: 5px 8px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 20px;
    text-align: center;
  }
  section.review ul li p:nth-child(3) {
    margin-top: 20px;
    line-height: 2.0;
  }
  section.review ul.reviewdonnie li {
    border: 2px solid #54B9D8;
  }
  section.review ul.reviewdonnie li p.cat {
    background-color: #94E2F0;
  }
  section.review ul.review_doner li {
    border: 2px solid #F094B7;
  }
  section.review ul.review_doner li p.cat {
    background-color: #F094B7;
  }
  footer {
    background-color: #54B9D8;
    color: #fff;
    padding: 30px 0 15px;
  }
  footer div {
    text-align: center;
    font-size: 4.7rem;
    margin-bottom: 35px;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 38px;
  }
  footer ul li {
    margin-right: 30px;
  }
  footer ul li a:hover {
    color: #F7BF26;
  }
  footer ul li:last-child {
    margin-right: 0;
  }
  footer p {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */